@*
*@
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "System Roles";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Role</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Roles List</h3>
    </div>
    <div class="card-body ">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Role Number
                    </th>
                    <th>
                       Role Name
                    </th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-primary dropdown-toggle"
                                        data-toggle="dropdown">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                        <li class="dropdown-item">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i
                                                    class="fa-solid fa-pencil"></i> Edit </a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i
                                                    class="fa fa-eye"></i> View </a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item">
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i
                                                    class="fa fa-trash"></i> Delete </a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
